ul > li {
  list-style-type: none;
}

.nav {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  padding: 4px;
  padding-bottom: 35px;
  margin: 0;
}

.active {
  border-bottom: 4px solid var(--white);
}

.nav:hover{
     border-bottom: 2px solid var(--grey);
}
